<%-include('../partials/header.ejs')%>

<h1><%=NCG.name%></h1>

<img src="<%= NCG.image %>">

<p><%=NCG.description %></p>

<% NCG.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<%-include('../partials/footer.ejs')%>